#quote-carousel.carousel.slide{"data-ride" => "carousel", style: "padding:0 0 20px 0;margin:0;"}
 - slide_index = Array(0...@bulletins.count)
 %ol.carousel-indicators{style: "margin-bottom:-10px;"}
  - slide_index.each do |index|
   - if index == 0; is_active = "active"; end
   %li{class: "#{is_active}", "data-slide-to" => "#{index}", "data-target" => "#quote-carousel"}
 .carousel-inner
  - counter = 0
  - @bulletins.each do |bulletin|
   - if counter == 0; is_active = "active"; end
   .item{class: "#{is_active}"}
    .panel.panel-info
     .panel-heading= bulletin.headline
     .panel-body{:style => "min-height:120px"}
      - if bulletin.data.exists? then
       - if ['image/png', 'image/jpeg'].include?(bulletin.data_content_type)
        = image_tag(bulletin.data, width: '330px', height: '150px')   
        %br
      = bulletin.content
     .panel-body{:style => "min-height:100px"}
      - if bulletin.data.exists? then
       - if ['image/png', 'image/jpeg'].include?(bulletin.data_content_type) == false
        = link_to (t 'download'), bulletin.data.url
      -else
       %br
   - counter += 1
