- model_class = Login
.page-header
  %h1=t('activerecord.attributes.login.title')

= render 'shared/flashes'

.row.fluid
  /= form_for @login, html: { multipart: true, class: 'form-horizontal' }  do |f| 
  /= form_tag attendance_report_main_staff_staff_attendances_path, :method =>'get' do
  /= form_tag assign_main_logins_path, :method =>'get' do 

  = form_for :search, :url => { :action => "assign" }, :html=>{:class => "form-horizontal", :role => "form", :style => 'padding: 0 30px 0 30px; margin-top: 0;' } do |f|
    %br
    .row
      .col-md-offset-3
        .form-group
          .col-sm-2.control-label
            %label=(t 'activerecord.attributes.login.staff')+" / "+(t 'activerecord.attributes.login.student')
          .col-md-6
            .input-group
              = f.text_field :icno, class: 'form-control', data: {autocomplete_source: Login.order(icno: :asc).map(&:details)}, placeholder: "#{(t 'activerecord.attributes.login.icno')} #{(t 'or')} #{(t 'activerecord.attributes.login.email')}"
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit"}
                  %i.fa.fa-search.fa-fw
                  
            %span.help-block.small=t('activerecord.attributes.login.search_usertype')
            
.row.fluid    
  .row
    .col-md-9.col-md-offset-3
      - if @login
        .col-md-8     
          %BR
          .row
            .panel.panel-info
              /.panel-heading Login Details
              .panel-body 

              %table.table.table-condensed
                %head
                  %tr
                    %th{width: '8%'} &nbsp;
                    %th{width: '20%'}=t('activerecord.attributes.login.log')
                    %th{width: '20%'}=t('activerecord.attributes.login.icno')
                    %th{width: '50%', colspan: 2}=t('activerecord.attributes.login.usertype')
                    %th{width: '2%'} &nbsp;
                
                %body
                  %tr
                    = form_for @login, html: { multipart: true, class: 'form-horizontal', remote: true, id: 'form1'}  do |f| 
                      %td.centre{width: '8%'}=f.check_box :is_deleted, id: 'delete_this' if @login.deleted_at==nil 
                      %td{width: '20%'}
                        #login_span
                          - if @login.deleted_at!=nil
                            %span{style: 'text-decoration: line-through;'}=@login.login
                          - else
                            =@login.login
                      %td{width: '20%'}
                        #ic_span
                          - if @login.deleted_at!=nil
                            %span{style: 'text-decoration: line-through;'}=@login.icno
                          - else
                            =formatted_mykad(@login.icno)
                            - if @login.isstaff.blank?
                              - is_staff=Staff.where(icno: @login.icno)
                              .small=is_staff.count > 0 ? "* #{(t 'activerecord.attributes.login.owned_by')} #{(t 'activerecord.attributes.login.staff')} " : "* #{(t 'activerecord.attributes.login.owned_by')} #{(t 'activerecord.attributes.login.student')}" 
                      %td{colspan: 2, width: '50%'}
                        #usertype_span
                          - if @login.deleted_at!=nil
                            ="#{t('activerecord.attributes.login.deleted_at')}: #{@login.deleted_at.strftime("%H:%M, %d/%m/%Y")}"
                          - elsif [true, false].include?(@login.isstaff)
                            .col-md-7=@login.isstaff==true ? (t 'activerecord.attributes.login.astaff') : (t 'activerecord.attributes.login.astudent')
                            .col-md-5=f.submit (t 'update'), class: 'btn btn-primary'
                          - else
                            .col-md-6
                              .form-inline
                                .form-group
                                  =t('activerecord.attributes.login.staff')
                                  = f.radio_button :isstaff,'1'
                                .form-group
                                  =t('activerecord.attributes.login.student')
                                  = f.radio_button :isstaff,'0'
                            .col-md-6=f.submit (t 'update'), class: 'btn btn-primary', id: 'submit_button', :onclick => "return validateform();"
                   
                      %td{width: '2%'} &nbsp;
              %br
              .panel-footer
                #warning.small.centre
                  - if @login.deleted_at==nil
                    - if @login.isstaff==nil
                      =(t 'activerecord.attributes.login.warning_irreversible').html_safe
                      %span{style: 'color: red;'}=(t 'activerecord.attributes.login.warning_irreversible2').html_safe
                      ="<br> #{t('or').upcase}<br>".html_safe
                    /above: not deleted & user type not assigned
                    =t('activerecord.attributes.login.delete')
                  
            
:javascript
  /*alert("vvv");*/
  $("#login_isstaff_1").click(function(){
    
    var check=document.getElementById('delete_this');
    
    if(check.checked==true)
    { check.checked=false;}
  });
  
  $("#login_isstaff_0").click(function(){
    var check2=document.getElementById('delete_this');
    
    if(check2.checked==true)
    { check2.checked=false;}
  });
  
  
  $("#delete_this").click(function(){
    var radio1=document.getElementById('login_isstaff_1');
    var radio0=document.getElementById('login_isstaff_0');
    if(radio1.checked==true)
    { radio1.checked=false;}
    if(radio0.checked==true)
    { radio0.checked=false;}
    
  });
  
  $("#submit_button").click(function(){
    var check3=document.getElementById('delete_this');
    var radio12=document.getElementById('login_isstaff_1');
    var radio02=document.getElementById('login_isstaff_0');
    if(check3.checked==false && radio12.checked==false && radio02.checked==false)
    { alert('x bole submit');}
    else
    { $("#form1").submit();}
  });
  